* {
    box-sizing: border-box;
}

body {
    background-color: #5744ffd2;
    margin: 0;
    padding: 0px;
    width: 100%;
    display: block;
}

header {
    background: linear-gradient(to right, #272044, #728ff7);
    color: white;
    margin: 0;
    padding: 20px;
    position: relative;
    width: 100%;
    height: 200px;
}

header h1 {
    margin-top: 0;
    padding-top: 15px;
}

.main-header {
    background-image: url(https://file.notion.so/f/f/716cc5d9-5b9d-49c6-8624-4d49526f4db7/004e5dde-96b4-4114-9cf8-171afe9c36c7/codificacion-programas-informaticos-pantalla_53876-138060.jpg.avif?table=block&id=2e640ebb-cb1c-805f-a58e-e54dd0c374c2&spaceId=716cc5d9-5b9d-49c6-8624-4d49526f4db7&expirationTimestamp=1768500000000&signature=svZIVGe6KcDtf5KOuTeIRPOB7imzPmkLQKiyWlsZ7Bs);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.subtitulo {
    font-size: 15px;
    color: #f0f0f077
}

h2,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #5d67d4
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f0f0f0
}

.bienvenida {
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.bienvenida h2 {
    margin: auto;
    padding: 10px;
}

.bienvenida p {
    margin: auto;
    padding: 10px;
    color: #555;
}

.horario {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.parrafo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}

table {
    color: #7c7b7b;
    font-size: 20px;
    width: 100%;
    border-collapse: collapse;
    border-color: #7c7b7b;
    border-radius: 10px;
    align-items: right;
}

thead {
    background-color: #b4b4b48f;
    color: rgb(0, 0, 0);
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0e0d0d;
    font-weight: bold;
}

input{
    width: 100%;
    padding: 10px;
    margin: 8px 1px;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: #555;
}

textarea{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #5d67d4;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: auto;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.noticias {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

.noticias h2 {
    color: #5d67d4;
    margin-bottom: 20px;
    width: 100%;
}

.contenedor-tarjetas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tarjeta-noticia {
    flex: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
    color: #555;
}

.sugerencias {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.sugerencias p{
    color: #555;
}

.envianos {
    border-radius: 20px;
}

.footer {
    background: #191f31;
    font-family: sans-serif;
    color: white;
    text-align: left;
    padding: 10px;;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footerrt a {
    color: #a3a3a3;
    text-decoration: none;
    padding: 5px;;
}
footer h2 {
    color: #ffffff;
    font-weight: bold;
}
.tfooter {
    color: #a3a3a3;
}

.mapa {
    border-radius: 20px;
    display: flex;
    margin: auto;
    width: 98%;
    height: 100%;
}

.navegacion {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.navegacion ul {
    background-color: white;
    display: flex;
    list-style: none;
    padding: 12px 30px;
    border-radius: 50px;
    gap: 25px;
    margin: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 3);
}

.navegacion li a {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.navegacion li a:hover {
    color: #555;
}

.video-recursos {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.video-recursos h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.video-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555;
}
.youtube iframe {
    border-radius: 10px;
    margin-top: 10px;
}